{% extends 'base_user.html' %}

{% load static %}

{% block title %}CheckOut{% endblock title %}

{% block content %}

<div class="container">
    <div class="row m-t-100">


        
        <!--Billing address-->
        <aside class="col-lg-7 m-b-40 mt-3">

            <!-- breadcrumb -->
            <div class="bread-crumb flex-w p-r-15 p-t-2 mb-2 p-lr-0-lg">
                <a href="{% url 'home' %}" class="stext-109 cl8 hov-cl1 trans-04">
                    Home
                    <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                </a>

                <a href="{% url 'cart' %}" class="stext-109 cl8 hov-cl1 trans-04">
                    Cart
                    <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                </a>

                <span class="stext-109 cl4">
                    Checkout
                </span>
            </div>
            <!-- end breadcrumb -->

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Billing Address</h4>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <label for="">First name</label>
                                <input type="text" name="first_name" class="form-control" required>
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="">Lastname</label>
                                <input type="text" name="last_name" class="form-control">
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="">Email</label>
                                <input type="email" name="email" class="form-control" required>
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="">Phone Number</label>
                                <input type="number" name="phone_number" class="form-control" required>
                            </div>

                            <div class="col-md-12 form-group">
                                <label for="">Address</label>
                                <input type="text" name="address" class="form-control" required>
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="">City</label>
                                <input type="text" name="city" class="form-control" required>
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="">District</label>
                                <input type="text" name="district" class="form-control" required>
                            </div>

                            <div class="col-md-4 form-group">
                                <label for="">State</label>
                                <input type="text" name="state" class="form-control" required>
                            </div>

                            <div class="col-md-4 form-group">
                                <label for="">Country</label>
                                <input type="text" name="country" class="form-control" required>
                            </div>

                            <div class="col-md-4 form-group">
                                <label for="">PIN code</label>
                                <input type="text" name="pin" class="form-control" required>
                            </div>
                        </div>
                   
                </div>
            </div>

        </aside>


        <!-- Order overview -->
        <aside class="col-lg-5 mt-5 mb-5">

            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tr class="table_head">
                            <th class="column-1">Product</th>
                            <th class="column-2"></th>
                            <th class="column-4 text-center">Quantity</th>
                            <th class="column-3">Price</th>
                        </tr>

                        {% for cart_item in cart_items %}
                        <tr class="table_row">
                            <td class="column-1">
                                <a href="{{cart_item.product.get_url }}" class="text-dark">
                                    <div class="how-itemcart1">
                                        <img src="{{ cart_item.product.images.url}}" alt="IMG">
                                    </div>
                                </a>
                            </td>
                            <td class="column-2 text-left"><a href="{{cart_item.product.get_url }}"
                                    class="text-dark">{{ cart_item.product.product_name }}</a>
                                <p class="text-muted small">
                                    {% if cart_item.variations.all %}
                                    {% for item in cart_item.variations.all %}
                                    {{ item.variation_category | capfirst }} : {{ item.variation_value }}<br>
                                    {% endfor %}
                                    {% endif %}
                                </p>
                            </td>
                            <td scope="col" class="text-center">{{ cart_item.quantity}}</td>

                            <td class="column-3">
                                <div class="price-wrap">
                                    <h6 class="price">Rs.{{ cart_item.sub_total}}/-</h6>
                                    <small class="text-muted">({{ cart_item.product.price }} each)</small>
                                </div>
                            </td>                            
                        </tr>
                        {% endfor %}
                    </table>


                       

                    <button type="submit" class="btn btn-dark flex-c-m size-116 bor14 p-lr-15">Place Order</button>
                    <a href="{% url 'allProducts' %}" class="btn btn-outline-dark flex-c-m size-116 bor14 p-lr-15 m-t-10"> Continue Shopping</a>
                </form>
                </div>
            </div>
        </aside>
    </div>
</div>



{% endblock content %}